<form method="post" action="{{ path('app_product_delete', {'id': product.id}) }}" style="display:inline;" onsubmit="return confirm('¿Seguro que querés eliminar este producto?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn-back" style="padding:6px 12px; font-size:14px; background:#b3261e;">
        Eliminar
    </button>
</form>

