{% extends 'base.html.twig' %}

{% block title %}Nuevo producto{% endblock %}

{% block body %}

<h1 class="page-title">Agregar producto</h1>
<p class="page-subtitle">
    Cargá un nuevo producto al catálogo Brekky.
</p>

<div class="brekky-card" style="max-width:700px;">
    {{ include('product/_form.html.twig', {'form': form, 'button_label': 'Guardar'}) }}
</div>

{% endblock %}
